@include font('ProximaNova', 'ProximaNova-Regular', '400', 'normal');
@include font('ProximaNova', 'ProximaNova-Semibold', '500', 'normal');

* {
  box-sizing: border-box;
}

#app {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  background-color: #121212;
}

input {
  outline: none;
}

.custom-checkbox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 0.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-input {
    visibility: hidden;
    position: absolute;
  }
}

.task-list {
  border: 2px solid white;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 4rem 2rem 4rem;
  &-item {
    list-style: none;
    padding: 0;
  }
}

.header {
  width: 100%;
  padding: 10px 40px;
  background-color: #000000;

  &__nav {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    .active {
      color: white;
      background-color: #282828;
    }
  }

  &__nav_link {
    color: #bbbbbb;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

label {
  color: white;
}

.form {
  width: 500px;
  border: 10px solid white;
  border-radius: 15px;
  &-item {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
  }
  &-label {
    font-size: 16px;
    color: #000000;
  }
  &-input {
    padding: 4px 8px;
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.card {
  background-color: #262626;
  color: white;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem;
}

.modal {
  position: fixed;
  top: 0;
  z-index: 999;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__dialog {
  position: inherit;
  margin: 0 auto;
  border: none;
  background: transparent;
  width: 90px;
  height: 90px;
  img {
    width: 100%;
    height: 100%;
  }
}
