@include font('ProximaNova', 'ProximaNova-Regular', '400', 'normal');
@include font('ProximaNova', 'ProximaNova-Semibold', '500', 'normal');

@media (max-width: 850px) {
  body {
    font-size: 12px;
  }
}

.task-list {
  max-width: 42rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1.5rem;
  &-item {
    cursor: default;
    list-style: none;
    transition: scale 0.2s;
    margin: 0.5rem 0;
    &:hover {
      transform: scale(1.01);
      box-shadow: $theme-outline-shadow-light;
    }
  }
}

.sidebar {
  width: 6rem;
  height: 100vh;
  padding: 2.5rem 0.625rem;
  background: rgb(20, 20, 20);
  background: linear-gradient(180deg, $gray-900 73%, $red-600 100%);
  z-index: 50;
  transition: transform 0.3s ease-out;
  @media (max-width: 850px) {
    transform: translate(-6rem);
    overflow: hidden;
  }
  &__nav {
    height: 100%;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    .active {
      color: $white;
      background-color: $gray-900;
    }
  }

  &__nav_link {
    color: #bbbbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    &:hover {
      color: $white;
    }
    &:focus {
      box-shadow: $theme-outline-shadow-red;
    }
  }
}

.modal {
  position: fixed;
  top: 15vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  border-radius: 0.5rem;
  border: none;
  box-shadow: $theme-outline-shadow-light;
  padding: 0;
  margin: 0;
  background-color: $white;
  @media (min-width: 768px) {
    &--tiny {
      left: calc(50% - 13rem);
      width: 25rem;
    }

    &--small {
      left: calc(50% - 15rem);
      width: 30rem;
    }

    &--medium {
      left: calc(50% - 17rem);
      width: 35rem;
    }

    &--large {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
}
