@include font('ProximaNova', 'ProximaNova-Regular', '400', 'normal');
@include font('ProximaNova', 'ProximaNova-Semibold', '500', 'normal');

* {
  box-sizing: border-box;
}

#app {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  background-color: #121212;
}

input {
  outline: none;
}

.custom-checkbox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 0.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-input {
    visibility: hidden;
    position: absolute;
  }
}

.task-list {
  border: 2px solid white;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 4rem 2rem 4rem;
  &-item {
    list-style: none;
    padding: 0;
  }
}

.header {
  width: 100%;
  padding: 10px 40px;
  background-color: #000000;

  &__nav {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    .active {
      color: white;
      background-color: #282828;
    }
  }

  &__nav_link {
    color: #bbbbbb;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

label {
  color: white;
}

.form {
  max-width: 700px;
  width: 30rem;
  border: 10px solid white;
  border-radius: 15px;
  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
  }
  &-label {
    font-size: 16px;
    color: #000000;
  }
  &-input {
    padding: 4px 8px;
    font-size: 14px;
  }
  @media (max-width: 768px) {
    & {
      width: 20rem;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 26px rgba(235, 235, 235, 0.144);
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
  background-color: #ffffff;
  @media (min-width: 768px) {
    &--small {
      left: calc(50% - 15rem);
      width: 30rem;
    }

    &--medium {
      left: calc(50% - 17rem);
      width: 35rem;
    }

    &--large {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
}

.modal__dialog {
  position: inherit;
  margin: 0 auto;
  border: none;
  background: transparent;
  width: 90px;
  height: 90px;
}

.preloader {
  width: 100%;
  height: 100%;
}
