@import '~bootstrap/scss/variables';

$body-color: $white;
$body-bg: rgb(22, 22, 22);
$font-family-base: ProximaNova, sans-serif;

$theme-outline-shadow-red: inset 0 1px 1px $body-bg, 0 0 8px $red-700;
$theme-outline-shadow-light: 0 2px 26px rgba(235, 235, 235, 0.144);
