.textarea {
  min-height: 15rem;
  border-radius: 12px;
  resize: none;
  @media (max-width: 576px) {
    min-height: 8rem;
  }
}

input {
  min-height: 2.5rem;
  border-radius: 12px;
  border: 1px solid $dark;
}

input,
textarea,
select {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: $theme-outline-shadow-red;
}

.form {
  max-width: 43.75rem;
  border: 10px solid white;
  border-radius: 15px;
  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  &-label {
    font-size: 1rem;
    color: $black;
  }
  &-input {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

.select {
  width: fit-content;
  padding: 0.4rem;
  background-color: transparent;
  border-radius: 6px;
}

.custom-checkbox {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8rem;
  outline: none;
  &-input {
    visibility: hidden;
    position: absolute;
  }
}

.custom-multiselect {
  max-width: 30rem;
  border-radius: 12px;
  white-space: normal;
  padding: 0rem 1rem;
  option {
    display: inline-block;
    color: white;
    margin: 0.75rem;
    border: 1px solid $white;
  }
}
